<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <fieldset>
    <legend><%=blog.title%></legend>
    <img src="<%=blog.img%>" alt="blog image" /><br />
    Content:<%=blog.body%><br />
    Created By: <%=blog.createdBy%> <br />
  </fieldset>

  <nav>
    <a href="/blogs">Back to Blogs</a>
  </nav>
</body>

</html>
