<div class="jumbotron">
  <h1 class="display-4">Thoughts At work!!</h1>
</div>
<div class="topnav" id="myTopnav">
<a href="/users/new/" class="nav-link">Login</a>
<a href="/" class="nav-link">Dashboard</a>
<a href="/blogs" class="nav-link">Create/Edit</a>
<a href="/users/logout" class="nav-link">Logout</a>
</div>
