<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/meta.ejs %>
</head>

<body>
    <% include ./partials/head.ejs %>
User is:  <%= username %><br>
Your profile image from Google is:<br>
<img src="<%=imgsrc%>" alt="">
<% include ./partials/footer.ejs %>
</body>

</html>
