<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home Page</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/styels.css"/>
  <!-- <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css"/> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600"/>
<link href="https://fonts.googleapis.com/css?family=Ubuntu|Montserrat|Comfortaa&display=swap" rel="stylesheet"/>
<!-- <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script> -->
</head>

<body>

<% include ./partials/head.ejs %>
    <!-- <div class="icons">
       <a href="https://twitter.com/" target="_blank"><ion-icon name="logo-twitter"></ion-icon></a>
       <a href="https://facebook.com/" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
       <a href="https://instagram.com/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
     </div> -->

  <ul>
      <div class="list-group">
    <% if(blogs.length>0){ %>
    <% for(let i = 0 ; i < blogs.length ; i++){ %>

     <a href="/blogs/<%=blogs[i].id%>" class="list-group-item list-group-item-action" > <%=blogs[i].title%><br><small>Created By:  <%=blogs[i].createdBy%></small> </a><br>
    <% } %>
    <% } else { %>
    Sorry nothing to show!
    <%}%>
    </div>
</ul>
  </body>
</html>
