<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
This is the home page with all the blogs with/ without credentials.
Here we have option to login, logout
All the blogs will be displayed sorted by latest first
  </body>
</html>
