<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <% include ./partials/meta.ejs %>

</head>

<body>

  <% include ./partials/head.ejs %>

  <div class="container">
    <ul>
      <div class="list-group roundedge">
        <% if(blogs.length>0){ %>
        <% for(let i = 0 ; i < blogs.length ; i++){ %>
        <a href="/blogs/<%=blogs[i].id%>" class="list-group-item list-group-item-action"> <b class="bold"><%=blogs[i].title%></b><br>
          <%=blogs[i].body.slice(0,50)%>...<br>
          <small>Created By: <%=blogs[i].createdBy%></small> </a><br>
        <% } %>
        <% } else { %>
        Sorry nothing to show!
        <%}%>
    </div>
</ul>
</div>
<% include ./partials/footer.ejs %>
  </body>

</html>
