* {
  box-sizing: border-box;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
}

.nav-link {
  color: white;
}

fieldset {
  text-align: center;
}

.jumbotron {
  width:100%;
  background-image: url('https://i.imgur.com/OBsN95b.jpg');
  background-size: cover;
  font-family: 'Vollkorn SC', serif;
  margin-bottom: 0;
  /* background-color: black; */
  color: black;
  border-radius: 0;
}
.media{
  border: 1px solid black;
}
.topnav {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  background-color: #333;
  overflow: hidden;
  justify-content: space-between;
}

/* styling the links inside the navigation bar */
.topnav a {
  display: inline-flex;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* When the screen is less than 600 pixels wide, */
@media screen and (max-width: 600px) {
  .topnav a {
    padding: 5px 5px;
    text-decoration: none;
    font-size: 10px;
  }

  /* .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 1vw;
  color: grey;
  width: 15vw;
}

.icons>ion-icon {
  font-size: 30px;
  padding: 0;
  height: 5vw;
  width: 50px;
}

.icons>a {
  padding: 0;
  text-decoration: none;
} */
  #myTopnav {
    overflow: hidden;
  }

  li {
    list-style-type: none;
  }
