<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login Page</title>
  </head>
  <body>
    <form class="" action="/users/" method="post">
      <input type="text" name="username" placeholder="UserName"/>
      <input type="password" name="password" placeholder="Password"/>
      <input type="submit" name="" value="Register">
    </form>
  <form class="" action="/sessions/new" method="post">
    <input type="submit" name="" value="Log In">
  </form>
  </body>
</html>
